/* ----------Main Section---------- */
/* ----------Nav Section---------- */
#navigation-section {
  background-color: red;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  left: 0;
  z-index: 20;
}

/* ----------Home Section---------- */
