/* ----------Main Section---------- */
h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* ----------Nav Section---------- */
.navbar {
  position: relative;
  z-index: 1000;
  height: 10vh;
  width: 100vw !important;
}

.navbar-brand {
  font-size: 3.5rem;
  margin: 0 auto;
}

.navbar-toggler {
  height: 125px;
  width: 125px;
  margin: 3%;
}

.navbar-nav {
  position: static;
  text-align: center;
  font-size: 3.5rem;
}

.nav-item {
  margin: 1vh 0;
}

/* ----------Home Section---------- */
#main-content {
  text-align: center;
  width: 100vw;
}

#home-background {
  background: url(https://lh3.googleusercontent.com/kQdsHfOSY8x5n-Q1w4P2E_3QspcrtX9sCdlq3Sztd-FP1CDcFA-kzEq2r3vZTG3vKqwqpow7mR5NP9KHFFWwOxTFCdTCpiJTOvxCdYlzQ7NjsSj28AhLqJ0mbzAyipVdFjPMNI2Q=w2400?source=screenshot.guru);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  height: 90vh;
  z-index: -1;
}

#content-box {
  /* background-color: red; */
  position: absolute;
  margin: 10vh auto;
  height: 50vh;
  width: 100vw;
  top: 0;
}

.icon {
  height: 300px;
}

.subheading {
  margin-top: -1vh;
}

.names {
  margin-top: 1vh;
}

.wedding-date {
  margin-top: 1vh;
}

.timer {
  margin-top: 50vh;
}

.hr-fifty {
  background-color: black;
  height: 1px;
  width: 50vw;
}

#days {
  font-size: 3rem;
}
