/* ----------Main Section---------- */
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  background-image: url(https://i.pinimg.com/originals/80/eb/79/80eb797560f2f4d392fdec13a5c59820.png);
}

/* ----------Nav Section---------- */
.navbar {
  position: relative;
  z-index: 1000;
  height: 10vh;
  width: 100vw !important;
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  margin-left: 10vw;
  margin-bottom: 1vh;
}

.navbar-toggler {
  height: 125px;
  width: 125px;
  margin-right: 1vw;
}

.navbar-nav {
  position: static;
  text-align: center;
  font-size: 3.5rem;
}

.nav-item {
  margin: 1vh 0;
}

/* ----------Home Section---------- */
#main-content {
  text-align: center;
  width: 100vw;
}

#home-background {
  background: url(https://lh3.googleusercontent.com/kQdsHfOSY8x5n-Q1w4P2E_3QspcrtX9sCdlq3Sztd-FP1CDcFA-kzEq2r3vZTG3vKqwqpow7mR5NP9KHFFWwOxTFCdTCpiJTOvxCdYlzQ7NjsSj28AhLqJ0mbzAyipVdFjPMNI2Q=w2400?source=screenshot.guru);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  height: 90vh;
  z-index: -1;
}

#content-box {
  position: absolute;
  margin: 10vh auto;
  height: 50vh;
  width: 100vw;
  top: 1px;
}

.icon {
  height: 350px;
  margin-top: -50px;
}

.subheading {
  margin-top: -50px;
}

.names {
  margin-top: -100px;
}

.names h1 {
  font-family: 'Playfair Display', serif;
  font-size: 7rem;
}

.quote {
  margin-top: 40vh;
}

.quote img {
  position: relative;
  width: 65vw;
  top: -13vh;
}

#main-content h3 {
  font-size: 3rem;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
}

.wedding-date {}

.timer {
  margin-top: -20vh;
}

.hr-fifty {
  background-color: black;
  height: 1px;
  width: 50vw;
}

#days {
  font-size: 3rem;
}

/* ----------Wedding Party Section---------- */
#weddingParty {
  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v754-tang-10b_1.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=600&s=c03b07bd7640f73a0df07233298fa6ef);
  background-repeat: no-repeat;
  background-size: cover;
  width: 80vw;
  border-radius: 10px;
  /* border: solid; */
  margin: 100px auto;
  padding: 10px;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

#weddingParty table {
  margin: 100px auto;
}

#weddingParty .th-primary {
  font-size: 5rem;
}

#weddingParty th {
  font-size: 3rem;
  border: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: black;
}

#weddingParty td {
  font-size: 2.5rem;
}

/* ----------Accomidations Section---------- */
#accomidations {
  background-image: url(https://i.pinimg.com/originals/80/eb/79/80eb797560f2f4d392fdec13a5c59820.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  top: -49px;
  font-family: 'Playfair Display', serif;
}

#accomidations h1 {
  margin-top: 50px;
}

#accomidations .accomidations-box {
  position: relative;
  top: 23vh;
}

#accomidations h2 {
  margin-bottom: 50px;
}

#accomidations hr {
  width: 75vw;
  background-color: black;
}

#accomidations img {
  height: 700px;
  width: 100vw;
}

#accomidations p {
  margin: 30px auto;
  font-size: 1.5rem;
}

#minor-hr {
  position: relative;
  top: -20px;
}
